// NativeScript core theme
// @see https://docs.nativescript.org/ui/theme
@import '~nativescript-theme-core/scss/ruby';

// Override variables here

@import '~nativescript-theme-core/scss/index';

// Global SCSS styling
// @see https://docs.nativescript.org/ui/styling

$title-font: 'Aileron-Bold', sans-serif;
$font: 'Lato-Regular', sans-serif;
$base-font-size: 14;
$title-font-size: 16;

$primary-color: #0099C4;
$secondary-color: #333;
$black: #000;
$white: #fff;
$gray: #e4e4e4;

$button-height: 40;

$border-radius: 10;

Label, Button{
    font-family: $font;
}

Button{
    height: $button-height;
    background-color: $primary-color;
    color: $white;
    border-radius: 20;
}

.title{
    font-family: $title-font;
}

.container{
    padding: 10 10 20 10;
}

.card{
    border-radius: 10;
    font-weight: bold;
    padding: 10;
    margin: 5;
    background-color: $gray;
}

.button-full{
    width: 100%;
}

.button-half{
    width: calc(100% - 5);
}

// PADDING: 10 l 10 r
// BASE FONT 14 Lato
// TITLES: 16 Bold - Aileron
// FULL WITH BUTTONS 100% wt
// HALF BUTTONS 50% - 5px wt