// NativeScript core theme
// @see https://docs.nativescript.org/ui/theme
@import '~nativescript-theme-core/scss/ruby';

// Override variables here

@import '~nativescript-theme-core/scss/index';

// Global SCSS styling
// @see https://docs.nativescript.org/ui/styling

.content{
    padding: 20;
}

.page-title{
    text-align: center;
    font-size: 24;
    font-weight: bold;
}

.page-text{
    text-align: center;
    font-size: 15;
    padding: 10 0;
}

.italic{
    font-style: italic;
}